.myPerfilPhoto{
    width: 30rem;
}
.myPerfilPhoto img{
    width: 30rem;
    height: 20rem;
}

.pop-perfil{
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.93);
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 30rem;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.93);
    z-index: 999;
  }
  .pop-perfil .modal-content-message .message-header-send{
    display: flex;
    border-radius: 15px;
    background: rgb(22, 36, 153);
    justify-content: space-between;
    padding: 1rem;
    color: white;
    
  }
  .allMyDatas{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .edite{
      width: 30rem;
      display: flex;
      justify-content: center;
  }
  .edite span{
      border:  1px solid blue;
      background: blue;
      color: white;
      border-radius: .5rem;
      font-size: 1rem;
      padding:.2rem 1rem;
      border-bottom:.6rem;
  }
 
  
  
  



  /* /////////////////////////// */

  





  .myPerfilPhoto{
    width: 100%;
}
.myPerfilPhoto img{
    width: 100%;
    height: 20rem;
}
.btnprofileEdit{
  background: rgb(13, 30, 75);
  border: none;
  height: 2rem;
  color: white;
  padding: .3rem;
  margin-left: 7rem;
  margin-top: 7.3rem;
}
.pop-edite-profile{
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.93);
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40rem;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.93);
    z-index: 999;
  }
  .pop-edite-profile .modal-content-message .message-header-send{
    display: flex;
    border-radius: 15px;
    background: rgb(22, 36, 153);
    justify-content: space-between;
    padding: 1rem;
    color: white;
    
  }
 .pop-edite-profile .allMyDatas{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .pop-edite-profile .allMyDatas span{
      display: flex;
      justify-content: flex-start;
      width: 28rem;
  }
  .pop-edite-profile .allMyDatas label{
      width: 10rem;
      margin-right: 2rem;
  }
  .pop-edite-profile .allMyDatas input{
    outline: none;
    width: 20rem;
  }
  .pop-edite-profile  .edite{
      width: 30rem;
      justify-content: center;
  }
  .pop-edite-profile  .edite span{
      background-color: blue;
      color: white;
  }
  