*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
:root{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5; 
    --blue1:#222;
    --blue2:#999;   
}
body{
    min-height:  100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(38, 114, 150);
    border-left: 6px solid rgb(31, 91, 146);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 66px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px ;
    
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);   
}
.navigation ul li:nth-child(1){
    margin-bottom: 30px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color:  rgb(21, 160, 179);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon i{
    font-size: 1.8em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}

/* as curvas de fora*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
content: '';
position: absolute;
right: 0;
bottom: -50px;
width: 50px;
height: 50px;
background: transparent;
border-radius: 50%;
box-shadow: 35px -35px 0 10px var(--white);
pointer-events: none;
}

/* main */

.main{
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.topbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    display:none;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    padding-left: 35px;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid rgb(151, 151, 187);
    outline: none;
    letter-spacing: 0.2em;
}
.search label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    right: 3rem;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile1{
    align-items: center;
    display: flex;
}
.profile1 span{
    font-size: 0.90rem;
    font-weight: 550;
    margin-left: -30%;
}
.cardbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardbox .card{
    position: relative;
    background: var(--white);
    height: 8rem;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    box-shadow:0 7px 25px rgba(0,0,0,0.4);
}
.cardbox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--blue);
}
.cardbox .card .cardName{
    color: var(--blue2);
    font-size: 0.9em;
    margin-top: 5px;
}
.cardbox .card .iconbx{
    font-size: 2.5em;
    color:  var(--blue);
}
.card:hover{
    background: rgb(76, 107, 139);
}
.cardbox .card .iconbx4{
    font-size: 2.5em;
    color:  #04d420;
}
.cardbox .card:hover .iconbx4{
    color: #f0f0f0;
}
.cardbox .card .numbers4{
    font-size: 2em;
    color:  #04d420;
}
.cardbox .card:hover .numbers4{
    color: #f0f0f0;
}
.cardbox .card .cardName4{
    font-size: 0.9em;
    color:  #04d420;
}
.cardbox .card:hover .cardName4{
    color: #f0f0f0;
}


.cardbox .card .iconbx2{
    font-size: 2.5em;
    color:  #c53c05;
}
.cardbox .card:hover .iconbx2{
    color: #f0f0f0;
}
.cardbox .card .numbers2{
    font-size: 2em;
    color:  #c53c05;
}
.cardbox .card:hover .numbers2{
    color: #f0f0f0;
}
.cardbox .card .cardName2{
    font-size: 0.9em;
    color:  #c53c05;
}
.cardbox .card:hover .cardName2{
    color: #f0f0f0;
}
.card2:hover{
    background:#c53c05;
    color: var(--white);
}
.card4:hover{
    background:#04d420;
    color: var(--white);
} 
.cardbox .card:hover .numbers,
.cardbox .card:hover .cardName,
.cardbox .card:hover .iconbx{
    color: var(--white);
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders{
    position: relative;
    display: grid;    
    min-height: 300px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}
.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    color: var(--blue1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background-color: rgb(76, 107, 139);
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 5px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.status.pending{
    padding: 2px 4px;
    background: #e06e2c;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.status.return{
    padding: 2px 4px;
    background: #7a2ce0;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.status.inprogress{
    padding: 2px 4px;
    background: #e02c2c;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.recentCostumers{
    cursor: pointer;
    position: relative;
    display: grid;    
    min-height: 300px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.recentCostumers .imgbx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius:50%;
    overflow: hidden;
}
.recentCostumers .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCostumers table tr td{
    padding: 4px 5px;
}
.recentCostumers table tr td h4{
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
}
.recentCostumers table tr td span{
    font-size: 12px;
    color: var(--blue2);   
}
.recentCostumers table tr:hover{
    background: rgb(76, 107, 139);
    color: var(--white);    
}
.recentCostumers table tr:hover td h4 span{
    color: var(--white);
}
/* Responsive pag */
@media (max-width:820px){
    .navigation{
        left: -200px;
    }
    .navigation.active{
        width: 200px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 200px;
    }
    .cardbox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:800px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.inprogress{
        white-space: nowrap;
    }
}
@media (max-width:480px){
    .cardbox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-size: 14px;
    }
    .user{
        min-width: 35px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: inherit;
        color: #fff;
    }
}